<!DOCTYPE html>

<p style="text-align:right">&nbsp;</p>

<p style="text-align:right">&nbsp;</p>

<p style="text-align:right">&nbsp;</p>
<p style="text-align:right">&nbsp;</p>
<p style="text-align:right">&nbsp;</p>
<p style="text-align:right">&nbsp;</p>
<p style="text-align:right">&nbsp;</p>
<p style="text-align:right">&nbsp;</p>

<p style="text-align:right">Tunis,  $genDateTime</p>
<p style="text-align:right">&nbsp;</p>
<p style="text-align:center"><strong>INVOICE $number</strong></p>
<p style="text-align:right">&nbsp;</p>
                <p style="text-align:right">&nbsp;</p>

<hr>
<hr>
<table class="table table-bordered table-striped" style="text-align:center">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Insert Date</th>
        <th scope="col">Invoice Subject</th>
        <th scope="col">Invoice Status</th>
        <th scope="col">Invoice Amount </th>
        <th scope="col">Currency</th>



      </tr>
      </thead>
      <tbody>
      <tr>
        <td>$dateInsertion</td>
        <td> $SubjectFacture </td>
        <td> $statutFacture </td>
        <td> $montantFactureTND </td>
        <td> $devise </td>

    </tr>
      </tbody>
     </table>

     <div class="modal-body">
               <form>
                <p style="text-align:right">&nbsp;</p>

                  <div class="form-group">
                        <strong> <label>Description :</label></strong>
                         <p>$description </p>
                       </div>
                   <div class="form-group">
                                    <strong> <label>Reception Date DCD :</label></strong>
                                     <p>$dateReceptionDCD</p>
                                   </div>
                 <div class="form-group">
                  <strong> <label>Dispatch Maintenance Support Department Date :</label></strong>
                   <p>$dateEnvoiDirectionSupportMaintenance</p>
                 </div>
                 <div class="form-group">
                  <strong><label>Return to Maintenance Support Department Date :</label></strong>
                   <p>$dateRetourDirectionSupportMaintenance</p>
                 </div>
                 <div class="form-group">
                   <strong><label>Validation Head of Department Date :</label></strong>
                   <p>$dateValidationChefDepartement </p>
                 </div>
                 <div class="form-group">
                   <strong><label>Return Validation Head of Department Date  :</label></strong>
                   <p>$dateRetourValidationChefDepartement </p>
                 </div>
                 <div class="form-group">
                   <strong><label>Incident Supplier Date :</label></strong>
                   <p>$dateIncidentFournisseur</p>
                 </div>
                 <div class="form-group">
                   <strong><label>Regularization Supplier Date :</label></strong>
                   <p>$dateRegularizationFournisseur</p>
                 </div>
                 <div class="form-group">
                   <strong><label> Shipment Insurance Date :</label></strong>
                   <p>$dateEnvoiAssurance</p>
                 </div>

                 <div class="form-group">
                   <strong><label>Scheduling DCD Date :</label></strong>
                   <p>$dateOrdonnancementDCD</p>
                 </div>
                 <div class="form-group">
                   <strong><label>Return Date DCD :</label></strong>
                   <p>$dateRetourDCD</p>
                 </div>
                 <div class="form-group">
                   <strong><label>DCD scheduling Date 2 :</label></strong>
                   <p>$Date2OrdonnancementDCD</p>
                 </div>
               </form>
         </div>
<p style="text-align:right">&nbsp;</p>

<p style="text-align:right"><br />
    Systems Administration Department<br />
    TARAK AYADI</p>



<p style="text-align:right">&nbsp;</p>


<p style="text-align:right"><img alt="" src="https://ckeditor.com/apps/ckfinder/userfiles/files/signature.png" style="height:91px; width:200px" /></p>